

.mainApp {
  background: rgb(154,0,255);
background: linear-gradient(90deg, rgba(154,0,255,1) 0%, rgba(0,255,4,1) 50%, rgba(255,0,236,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainOuterDiv {
  margin: auto;
}

.mainHeader {
  margin-bottom: 20px;
}

.mainH1 {
  text-align: center;
  color: white;
  font-size: 5em;
  font-family: 'Nabla', cursive;
  
}

.mainInnerDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  justify-content: center;
}

.buttonDiv {

  display: flex;
  margin-left: 0.25rem;
  justify-content: center;
}

button {
  display: inline-block;
  padding: 10px;
  padding-bottom: 100px;
  background-color: darkorange;
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 20px;
}

.formSection {
  
  display: flex;
  flex-direction: column;
  gap: 5px;
 
}

.choiceDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

list {
  padding: 4px;
  margin: 4px;
  background-color: white;
  box-shadow: 0 10px 15px -3px black, 0 4px 6px -4px black;
}

.imageChoice {

  height: 100px;
  width: 100px;
}
  
.imgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 20%;
}

.top {
  max-width: 30%;
  height: auto;
}

.bottom {
  max-width: 30%;
  height: auto;
}

.name {
  font-family: 'Creepster', cursive;
  color: yellow;
  font-size: 2em;
}