.mainApp {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainOuterDiv {
  margin: auto;
}

.mainHeader {
  margin-bottom: 20px;
}

.mainH1 {
  text-align: center;
  color: white;
  font-size: 50px;
}

.mainInnerDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  margin-left: 0.25rem;
  justify-content: center;
}

button {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background-color: red;
  color: white;
  font-size: 10px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 4px;

}

list {
  padding: 4px;
  margin: 4px;
  background-color: white;
  box-shadow: 0 10px 15px -3px black, 0 4px 6px -4px black;
}

.imageChoice {

  height: 100px;
  width: 100px;
  
.imgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 40%;
}

.top {
  max-width: 30%;
  height: auto;
}

.bottom {
  max-width: 30%;
  height: auto;
}
